.navbar {
    position: relative;
    display: table;
    width: 100%;
    height: 100px;
    background-color: #4aaaaf;
    text-align: center;
    color: white;
    margin-bottom: 10px;
}

.brand {
  margin: 0 auto;
  display: table-cell;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 28px;
}

.chatbox {
  position: relative;
  width: 100%;
  height: 60vh;
  background-color: #EEEEEE;
  box-shadow: 1px 1px 10px 0px #20232A;
  opacity: 70%;
  overflow-y: scroll;
}

.input-group {
  height: 60px;
  box-shadow: 1px 1px 20px 0px #20232A;
}

.form-control {
  height: 60px !important;
  border-radius: 0 !important;
}

.chat-flex {
  display: flex;
  padding: 10px;
}

.blah {
  word-break:break-word;
  padding-left: 10px;
  padding-right: 10px;
  background-color: khaki;
  border-radius: 10px;
}

.yo {
  font-weight: bolder;
  padding-right: 5px;
}

.send{
  border-radius: 0 !important;
}

.invite-id {
  display: flex;
  justify-content: center;
  width: 50%;
  background-color: #F3F3F3;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 20px;
}

a {
  color: white !important;
  text-decoration: none;
}

a:hover 
{
   color:#00A0C6; 
   text-decoration:none; 
   cursor:pointer;  
}

.copy-id {
  font-size: 30px;
  margin-right: 10px;
}

.room-id {
  font-size: 30px;
  color: #4aaaaf;
  cursor: pointer;
}


